dependencies:
  task:
    - tmux/tmux
    - zsh/config
install:
  backup:
    - "{home}/.tmux"
    - "{home}/.tmux.conf"
  mkdir:
    - "{home}/.tmux"
  cmd:
    - git clone https://github.com/tmux-plugins/tpm {home}/.tmux/plugins/tpm
  ln:
    - Linking .tmux.conf | {repo}/config/tmux/.tmux.conf > {home}
    - Linking tmux add-in | {home}/.rc-temp/tmux.sh > {home}/.rc/
